DB_URL=jdbc:mysql://localhost:3306/quest-platform?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=change-me
REDIS_HOST=localhost
REDIS_PORT=16379
REDIS_PASSWORD=
REDIS_DATABASE=0
