<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjh.quest.dao.QuestionMapper">
    <select id="getBySurveyId" resultType="com.wjh.quest.entity.Question">
        SELECT * FROM question WHERE survey_id = #{surveyId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO question (survey_id, title, create_time, "type")
        VALUES(#{surveyId}, #{title}, now(), #{type})
    </insert>

    <delete id="deleteBySurveyId">
        DELETE FROM question WHERE survey_id = #{surveyId}
    </delete>
</mapper>
